<!--include header-->
<%- include partials/header.ejs %>

<p>The youngest of the Luftig Children, Courtney is currently completing her BA in Social Work at Ryerson University.
    She lives downtown Toronto.
</p>

<!--include footer-->
<%- include partials/footer.ejs %>