<!--include header-->
<%- include partials/header.ejs %>

<p>Jonathan is the second of the Luftig children, and the only boy. Jonathan is currently taking a few math classes
    at York University.</p><p>Jonathan enjoys playing RPG video games, and watching old school Star Trek.</p>

<!--include footer-->
<%- include partials/footer.ejs %>