<!--include header-->
<%- include partials/header.ejs %>

<p>Kayley is the oldest of the Luftig children. She is currently in school for Web Design and Development at Georgian College.</p>
<p>Kayley loves movies, and is a big collector of limited edition screenprinted movie posters. In her spare time Kayley loves to hang out with her corgi Sawyer, watch the Calgary Flames and Toronto Blue Jays.</p>

<!--include footer-->
<%- include partials/footer.ejs %>