<!--include header-->
<%- include partials/header.ejs %>

<p>Some may refer to Taylor as the favourite, and third of the Luftig children. With her quite nature, Taylor never got
    into trouble as a child, even though she was often the mastermind of all the adventures. Now Taylor can be seen
    trying to help save the world in anyways she can. A graduate of Dalhousie's International Development program,
    Taylor has completed internships with Liberty in North Korea and TIFF.</p>

<!--include footer-->
<%- include partials/footer.ejs %>